<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="193.85.203.188"/>
		<add key="Database" value="halik"/>
		<add key="Login" value="halik"/>
		<add key="Password" value="pepina78"/>
		<add key="BankPortFrom" value="65525"/>
		<add key="BankPortTo" value="65535"/>
		<add key="BankNetworkPrefix" value="10.2.1"/>
	</appSettings>
</configuration>