<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataSource" value="(fill in ip address)"/>
		<add key="Database" value="(fill in database name)"/>
		<add key="Login" value="(fill in login name)"/>
		<add key="Password" value="(fill in login password)"/>
		<add key="BankPortFrom" value="(first port in range for network scan)"/>
		<add key="BankPortTo" value="(last port in range for network scan)"/>
		<add key="BankNetworkPrefix" value="(prefix for network)"/>
	</appSettings>
</configuration>