<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--Main server config-->
        <add key="ServerIp" value="127.0.0.1"/>
        <add key="ServerPort" value="65525"/>
        
        <!--Database config-->
        <add key="DataSource" value="(fill in ip address)"/>
        <add key="Database" value="(fill in database name)"/>
        <add key="Login" value="(fill in login name)"/>
        <add key="Password" value="(fill in login password)"/>
    </appSettings>
</configuration>