USE [master]
GO
/****** Object:  Database [BMBank]    Script Date: 24/01/2026 21:16:47 ******/
CREATE DATABASE [BMBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BMBank', FILENAME = N'C:\Users\micha\BMBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BMBank_log', FILENAME = N'C:\Users\micha\BMBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BMBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BMBank]
GO
USE [BMBank]
GO
/****** Object:  Sequence [dbo].[account_number_sequence]    Script Date: 24/01/2026 21:16:48 ******/
CREATE SEQUENCE [dbo].[account_number_sequence] 
 AS [int]
 START WITH 10000
 INCREMENT BY 1
 MINVALUE 10000
 MAXVALUE 99999
 CACHE 
GO
/****** Object:  Table [dbo].[account]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_number] [int] NOT NULL,
	[balance] [bigint] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at_date] [datetime2](7) NOT NULL,
	[closed_at_date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_bank_total_amount]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_bank_total_amount]
as
select sum(balance) as total_amount
from account
where is_active = 1;
GO
/****** Object:  View [dbo].[view_bank_client_count]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_bank_client_count]
as
select count(*) as client_count
from account
where is_active = 1;
GO
/****** Object:  View [dbo].[view_active_accounts]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_active_accounts]
as
select account_number, balance, created_at_date
from account
where is_active = 1;
GO
/****** Object:  View [dbo].[view_closed_accounts]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_closed_accounts]
as
select account_number, balance, created_at_date, closed_at_date
from account
where is_active = 0;
GO
/****** Object:  View [dbo].[view_available_account_numbers]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[view_available_account_numbers]
as
select account_number, closed_at_date
from account
where is_active = 0;
GO
/****** Object:  Index [active_account_number_index]    Script Date: 24/01/2026 21:16:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [active_account_number_index] ON [dbo].[account]
(
	[account_number] ASC
)
WHERE ([is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT (sysutcdatetime()) FOR [created_at_date]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([account_number]>=(10000) AND [account_number]<=(99999)))
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD CHECK  (([balance]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[create_account]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[create_account]
as
begin
    set xact_abort on;

    declare @account_number int;

    begin transaction;

    begin try
        set @account_number = next value for account_number_sequence;

        insert into account (account_number)
        values (@account_number);
    end try
    begin catch
        select top 1 @account_number = account_number
        from account with (updlock, readpast)
        where is_active = 0
        order by closed_at_date;

        if @account_number is null
        begin
            raiserror('No available account numbers.', 16, 1);
            rollback;
            return;
        end

        update account
        set is_active = 1, balance = 0, closed_at_date = null
        where account_number = @account_number and is_active = 0;
    end catch;

    commit;

    select @account_number as account_number;
end;
GO
/****** Object:  StoredProcedure [dbo].[deposit_account]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deposit_account] @account_number int, @amount bigint
as
begin
    set xact_abort on;

    if @amount <= 0
    begin
        raiserror('Invalid amount.', 16, 1);
        return;
    end

    update account set balance = balance + @amount
    where account_number = @account_number and is_active = 1;

    if @@rowcount = 0
	begin
        raiserror('Account not found.', 16, 1);
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[get_account_balance]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[get_account_balance] @account_number int
as
begin
    select balance
    from account
    where account_number = @account_number and is_active = 1;

    if @@rowcount = 0
	begin
        raiserror('Account not found.', 16, 1);
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[remove_account]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[remove_account] @account_number int
as
begin
    set xact_abort on;

    update account set is_active = 0, closed_at_date = sysutcdatetime()
    where account_number = @account_number and is_active = 1 and balance = 0;

    if @@rowcount = 0
	begin
        raiserror('Account cannot be removed.', 16, 1);
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[withdraw_account]    Script Date: 24/01/2026 21:16:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[withdraw_account] @account_number int, @amount bigint
as
begin
    set xact_abort on;

    if @amount <= 0
    begin
        raiserror('Invalid amount.', 16, 1);
        return;
    end

    update account set balance = balance - @amount
    where account_number = @account_number and is_active = 1 and balance >= @amount;

    if @@rowcount = 0
	begin
        raiserror('Insufficient funds or account not found.', 16, 1);
	end
end;
GO
USE [master]
GO
